:root {
  --white-color: white;
  --black-color: black;
  --grey-color: #9da4bd;
  --orange-color: #ff6c00;
}

body {
  font-family: "Open Sans", sans-serif;
}

section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .conteiner {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.top-text.about {
  color: #303030;
}
.top-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 21px;
}

.title {
  max-width: 306px;
  font-family: "Raleway";
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }
}
.title.about {
  font-size: 28px;
  line-height: 1.16;
  color: #303030;
}

.botom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  max-width: 306px;
}
@media screen and (min-width: 768px) {
  .botom-text {
    max-width: 349px;
  }
}
@media screen and (min-width: 1200px) {
  .botom-text {
    font-size: 18px;
    max-width: 400px;
  }
}
.botom-text.about {
  max-width: 100%;
  color: #555555;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .botom-text.about {
    width: 330px;
  }
}
.botom-text.paragraf {
  max-width: 100%;
  font-size: 14px;
  color: #555;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .botom-text.paragraf {
    width: 330px;
    margin-bottom: 52px;
  }
}

.btn {
  width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--orange-color);
  background-color: transparent;
  border-radius: 30px;
  transition: color 250ms linear, background-color 250ms linear;
}
.btn--light {
  color: var(--black-color);
}
.btn:hover, .btn:focus {
  color: var(--white-color);
  background-color: var(--orange-color);
}

.header__btn {
  color: #ffffff;
  margin-left: auto;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.open-mobal_btn {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: white;
}
@media screen and (min-width: 768px) {
  .open-mobal_btn {
    display: none;
  }
}
.open-mobal_btn:hover, .open-mobal_btn:focus {
  color: var(--orange-color);
}

.logo-link {
  width: 70px;
  height: 60px;
  margin-right: 60px;
}

.header-logo {
  fill: white;
}
@media screen and (min-width: 768px) {
  .header-logo {
    fill: #303030;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 1200px) {
  .navigation__item:not(:last-child) {
    margin-right: 40px;
  }
}

.navigation__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header_group {
  display: block;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header_group {
    display: none;
  }
}

.tel-conteiner {
  display: block;
  position: absolute;
  top: 100px;
  right: 40px;
}
@media screen and (max-width: 767px) {
  .tel-conteiner {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .tel-conteiner {
    display: none;
  }
}

.header__phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .header__phone {
    margin-right: 30px;
    margin-top: 0px;
  }
}

.hero {
  padding: 0;
}
.hero .conteiner {
  padding: 0;
  display: flex;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero .conteiner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hero-content {
  background-color: #303030;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero-img-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 208px 0 183px 31px;
  flex-grow: 1;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero-img-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero-img-tab.jpg);
    padding: 280px 70px 234px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero-img-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero-img-comp.jpg);
    padding: 272px 96px 206px 96px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero/hero-img-comp@2x.jpg);
  }
}

.hero-social {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-social {
    display: flex;
    align-items: flex-end;
    width: 90px;
  }
}

.hero__list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateY(25px);
  transform-origin: left top;
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-item-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.backdrop {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 250ms linear;
  background: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .backdrop {
    display: none;
  }
}

.backdrop.is-open {
  transform: translateX(0);
}

.mobal-menu {
  position: absolute;
  top: 0;
  left: 110px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 100px 62px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 250ms linear;
  overflow-x: hidden;
  overflow-y: auto;
}

.close-modal-btn {
  position: absolute;
  top: 48px;
  right: 120px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  transition: color 250ms linear;
}
.close-modal-btn:hover, .close-modal-btn:focus {
  color: var(--orange-color);
}

.mobal-svg {
  fill: currentColor;
}

.mobal_item:not(:last-child) {
  margin-bottom: 24px;
}

.mobal_link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--black-color);
  transition: color 250ms linear;
}
.mobal_link:hover, .mobal_link:focus {
  color: var(--orange-color);
}

.contact-conteiner {
  display: flex;
  flex-direction: column;
}

.tel {
  margin-bottom: 24px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: var(--black-color);
  transition: color 250ms linear;
}
.tel:hover, .tel:focus {
  color: var(--orange-color);
}

.mobal_soc {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: var(--black-color);
  transition: color 250ms linear;
}
.mobal_soc:hover, .mobal_soc:focus {
  color: var(--orange-color);
}

.mobal_soc--before::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 40px;
}

.mobal_soc--margin {
  margin-left: 100px;
}

.conteiner.about {
  display: flex;
}

.about_list--photo {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .about_list--photo {
    display: none;
  }
}

.about_item--photo:not(:last-child) {
  margin-bottom: 30px;
}/*# sourceMappingURL=index.css.map */