body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  //   min-width: 320px;
}

section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
