:root {
  --white-color: white;
  --black-color: black;
  --grey-color: #555555;;
  --orange-color: #ff6c00;
  --bottom-text-color: #303030;
  --animation: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  --rgb-text:rgba(157, 164, 189, 0.4);
}
