.conteiner {
  &.about {
    display: flex;
  }
}

.about_list--photo {
  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-right: 30px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.about_item--photo:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
